@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 15px;
}

.container {
    margin: 15px 0;
    padding: 20px;
    border: 1px solid grey;
    width: fit-content;
    border-radius: 5px;
}

.container * {
    font-size: 16px;
}

.action-input,
.action-calculate,
.action-history {
    display: flex;
}

.action-history {
    flex-direction: column;
}

.section {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.action-history .section {
    margin: 0;
}

.section:first-child {
    margin-left: 0;
}

.section:last-child {
    margin-right: 0;
}

input,
select {
    height: 2rem;
    padding: .25rem;
    outline: none;
}

input[type=radio] {
    height: 1.25rem;
}

input[type=text]{
    width: 15rem;
}

input[type=number] {
    width: 3.5rem;
}

input[type=radio],
input[type=button] {
    cursor: pointer;
}

label {
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin-right: 5px;
}

.container > div {
    margin: 10px 0;
}

.container > div:first-of-type {
    margin-bottom: 0;
}

.container > div:last-of-type {
    margin-bottom: 0;
}


.title {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}
